<div class="row mt-5" >
    <div class="col-md-6 m-auto" >
      <img class="img-fluid" src="photos/dp4.png" alt="Avatar">
      <div class="card card-body text-center " id='bg_black'>
        <img class="img-fluid" src="photos/6.png" alt="Avatar">
        <p style="color:white;">Create an account or login</p>
        <a href="/users/login" id="signin" class="btn btn-block mb-2">Login</a>
        <a href="/users/register" id="signup" class="btn btn-block"
          >Register</a
        >
      </div>
    </div>
</div>